$color-primary: #DB1482;
$color-footer: #231F20;
$color-pale: #ADB5BD;
$color-clients: #E8E8E7;



$font-black: 'urw_dinblack', sans-serif;
$font-bold: 'urw_dinbold', sans-serif;
$font-demi: 'urw_dindemi', sans-serif;
$font-medium: 'urw_dinmedium', sans-serif;
$font-regular: 'urw_dinregular', sans-serif;
$font-light: 'urw_dinlight', sans-serif;
$font-thin: 'urw_dinthin', sans-serif;
$font-xlight: 'urw_dinxlight', sans-serif;